body {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

input {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

select {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

option {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

button {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

#game-area {
	position: absolute;
	min-width: 470px;
	left: 200px;
	top: 20px;
	float: left;
	background-color: beige;
	padding: 10px;
}
/*the reason the game buttons are styled as a class
and not simply by styling the button tag
is because input tags of the button type
also receive the same styling*/

#dashboard {
	width: 100%;
	clear: left;
	position: relative;
	float: left;
	padding: 10px 0;
	background-color: black;
	text-align: center;
}

#grid-area {
	float: left;
}

#grid {
	width: 100%;
	height: 100%;
}

.button {
	font-size: 20px;
	margin: 0 5px;
	color: white;
	background-color: black;
}

.row {
	float: left;
	clear: left;
	background-color: midnightblue;
}

.chip {
	float: left;
	margin: 8px;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: grey;
}

.chip-red {
	background-color: crimson;
}

.chip-yellow {
	background-color: khaki;
}

.empty {
	background-color: grey;
}


#controllers {
	line-height: 34px;
	padding: 0 20px;
}

#text-display {
	color: white;
	font-size: 20px;
	padding: 0 20px;
	line-height: 34px;
}

.selector {
	font-size: 20px;
	height: 26px;
	margin: 0 5px;
	color: white;
	border: none;
	background-color: black;
}

.input-texttype {
	font-size: 20px;
	height: 26px;
	margin: 0 5px;
	color: white;
	background-color: black;
}